@{ ViewData["Title"] = "About Avie"; }
<h1>@ViewData["Title"]</h1>


<html>

<title>Avie Mohan</title>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>

<body class="w3-light-grey">



    <!-- Page Container -->

    <div class="w3-content w3-margin-top" style="max-width:1400px;">



        <!-- The Grid -->

        <div class="w3-row-padding">



            <!-- Left Column -->

            <div class="w3-third">



                <div class="w3-white w3-text-grey w3-card-4">

                    <div class="w3-display-container">

                        <img src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/38963661_10160628766120065_7153866702684422144_n.jpg?_nc_cat=104&_nc_sid=174925&_nc_ohc=h2v3l9kpjpIAX_Gxafy&_nc_ht=scontent-mia3-1.xx&oh=5b90211d29e16b4f9db323935356dd60&oe=5F26EF44" style="width:100%" alt="Avatar">

                        <div class="w3-display-bottomleft w3-container w3-text-white">

                            <h2>Avie Mohan</h2>

                        </div>

                    </div>

                    <div class="w3-container">

                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>HR Business Partner</p>

                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Tampa, Florida</p>

                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>aviem@gmail.com</p>

                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>123-456-6987</p>

                        <hr>



                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills & Abilities</b></p>

                        <p>Consulting</p>

                        <div class="w3-light-grey w3-round-xlarge w3-small">

                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">85%</div>

                        </div>

                        <p>Employee Relations</p>

                        <div class="w3-light-grey w3-round-xlarge w3-small">

                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">

                                <div class="w3-center w3-text-white">70%</div>

                            </div>

                        </div>

                        <p>Leadership / Management</p>

                        <div class="w3-light-grey w3-round-xlarge w3-small">

                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:95%">80%</div>

                        </div>

                        <p>Talent BI and Analytics</p>

                        <div class="w3-light-grey w3-round-xlarge w3-small">

                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">70%</div>

                        </div>

                        <br>



                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>

                        <p>English</p>

                        <div class="w3-light-grey w3-round-xlarge">

                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>

                        </div>

                        <p>American Sign Language</p>

                        <div class="w3-light-grey w3-round-xlarge">

                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:65%"></div>

                        </div>

                        <br>

                    </div>

                </div><br>



                <!-- End Left Column -->

            </div>



            <!-- Right Column -->

            <div class="w3-twothird">



                <div class="w3-container w3-card w3-white w3-margin-bottom">

                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>

                    <div class="w3-container">

                        <h5 class="w3-opacity"><b>Human Resource Business Partner, PSCU</b></h5>

                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>

                        <p>

                            The HR Business Partner (HRBP) position is responsible for aligning business objectives with employees and management in designated business units.
                            The HRBP maintains an effective level of business literacy about the business unit's financial position, its midrange plans, its culture and its competition.
                        </p>

                        <hr>

                    </div>

                    <div class="w3-container">

                        <h5 class="w3-opacity"><b>Sr. HR Business Partner, Chewy</b></h5>

                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2018 - Feb 2020</h6>

                        <p>As a Sr.HRBP at Chewy, I've conduct weekly meetings with respective business units. Consults with line management, providing HR guidance when appropriate. Analyzed trends and metrics in partnership with the HR group to develop solutions, programs and policies. Managed and resolved complex employee relations issues. Conduct effective, thorough and objective investigations. Maintained in-depth knowledge of legal requirements related to day-to-day management of employees, reducing legal risks and ensuring regulatory compliance.</p>

                        <hr>

                    </div>

                    <div class="w3-container">

                        <h5 class="w3-opacity"><b>Sr. HR Generalist, Amazon</b></h5>

                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2013 - Jul 2015</h6>

                        <p>As a Sr HR Generalist I've been involved in both strategic and hands-on experiences that provides Human Resources support to Amazon's fulfillment centers. In this role I've been critical in executing people initiatives, providing great internal customer support, and driving HR functional excellence and process improvement. </p><br>

                    </div>

                </div>



                <div class="w3-container w3-card w3-white">

                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>

                    <div class="w3-container">

                        <h5 class="w3-opacity"><b>University of South Florida</b></h5>

                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Current Student</h6>

                        <p>

                            Masters of Business Analytics and Information Systems
                        </p>

                        <hr>

                    </div>

                    <div class="w3-container">

                        <h5 class="w3-opacity"><b>Florida State University</b></h5>

                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014</h6>

                        <p>BA, Psychology</p>

                        <hr>

                    </div>



                </div>



                <!-- End Right Column -->

            </div>



            <!-- End Grid -->

        </div>



        <!-- End Page Container -->

    </div>
    <footer class="w3-container w3-teal w3-center w3-margin-top">
        Avie Mohan 2020.</p>


        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Site template, built with support from w3.css</a></p>

    </footer>



</body>

</html>