@model InClass2_Exercise_API.Models.PersonModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserActionResponse</title>
</head>
<body>
    @{
        ViewData["Title"] = "Response from System";
    }
    <h1>@ViewData["Title"]</h1>
    <h2>Assignment:Razor form</h2>
    <h4>This Page returns a response.</h4>
    <p>
        <h1>
            Thank you, @Model.Name!
        </h1>
        @if (Model.Attending == "1")
        {
            @:You gave this site a rating of 1
        }
        @if (Model.Attending == "2")
        {
            @:You gave this site a rating of 2
        }
        @if (Model.Attending == "3")
        {
            @:You gave this site a rating of 3
        }
        else
        {
            @:Thank You!
        }
    </p>

</body>
</html>